body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(65, 105, 225, 0.53),
    rgba(128, 0, 128, 0.322)
  );
  background-size: cover;
}

.bg-image {
  filter: blur(0);
  -webkit-filter: blur(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  position: relative;
  margin: auto;
  text-align: center;
  transform: none;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cButton {
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f8f4e3;
  border: 2px solid #8b5e3c;
}

.cButton:hover {
  background-color: royalblue;
}

.input-wrapper input {
  background-color: #f8f4e3;
  border: 4px solid #8b5e3c;
  padding: 0.75rem 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #2c1b0c;
  width: 100%;
  max-width: 400px;
  outline: none;
  transition: 0.2s;
}

.input-wrapper input:focus {
  border-color: #ffd700;
  box-shadow: 0 0 10px #ffd700;
}

.deck-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck-input-wrapper input {
  background-color: #f8f4e3;
  border: 4px solid #8b5e3c;
  padding: 0.25rem 1rem;
  font-family: "Poppins", sans-serif;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #2c1b0c;
  outline: none;
  transition: 0.2s;
}

.deck {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid royalblue;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20rem;
  margin-top: 1rem;
}

.deck-link {
  display: inline-flex;
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
}

.deck-link img {
  pointer-events: all;
}

.deck-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.picture-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.picture-row img {
  width: 25%;
  max-width: 100px;
  height: auto;
}

.empty-card {
  padding: 0.4rem;
  box-sizing: border-box;
}

#select-card {
  display: none;
}

.deck-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
