<!DOCTYPE html>
<html>
  <head>
    <title>Skibidi Main Page</title>
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
  </head>
  <body>
    <h1>Generate Decks</h1>
    <button
      id="search-page"
      type="button"
      data-url="{{ url_for('search.search') }}"
    >
      Generate Meta
    </button>
    <button
      id="generate-page"
      type="button"
      data-url="{{ url_for('generate.generate') }}"
    >
      Generate Random
    </button>
  </body>
</html>
