<!DOCTYPE html>
<html>
  <head>
    <title>Skibidi Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{url_for('static', filename='js/fill_in_suggestions.js')}}"></script>
    <script src="{{url_for('static', filename='js/generate_meta_deck.js')}}"></script>
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
  </head>
  <body>
    <!-- <div -->
      <!-- class="bg-image" -->
      <!-- style=" -->
        <!-- background-image: url('https://wallpapercave.com/wp/wp2394965.jpg'); -->
      <!-- " -->
    <!-- ></div> -->
    <div class="bg-text">
      <h1 class="bangers-regular">Generate Random Current Meta Decks</h1>
      <div class="input-wrapper">
        <input
          type="text"
          id="search-input"
          placeholder="Optionally enter card names (comma-seperated)"
        />
      </div>
      <button class="bangers-regular cButton" id="generate-meta" type="button">
        Generate Meta
      </button>
      <button
        class="bangers-regular cButton"
        id="main-page"
        type="button"
        data-url="{{ url_for('home') }}"
      >
        Home
      </button>
      <div id="deck-div"></div>
    </div>
  </body>
</html>
