<!DOCTYPE html>
<html>
  <head>
    <title>MY SOLDIERS SCREAM OUT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script src="{{url_for('static', filename='js/fill_in_suggestions.js')}}"></script>
    <script type="module" src="{{ url_for('static', filename='js/war_decks.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/alpha_filter.js') }}"></script>
  </head>
  <body>
    <div id="main-war-decks">
      <!-- <div -->
        <!-- class="bg-image" -->
        <!-- style=" -->
          <!-- background-image: url('https://wallpapercave.com/wp/wp2394959.jpg'); -->
        <!-- " -->
      <!-- ></div> -->
      <div class="bg-text">
        <h1 class="bangers-regular">Finish Your War Decks</h1>
        <button
          class="bangers-regular cButton"
          id="main-page"
          type="button"
          data-url="{{ url_for('home') }}"
        >
          Home
        </button>
        <div id="war-decks-div"></div>
        <button
          style="margin-top: 4rem"
          class="bangers-regular cButton"
          id="generate-war-decks"
          type="button"
        >
          Mass War Deck suggestions
        </button>
        <button class="bangers-regular cButton" id="filter-alpha-button" type="button">Alpha filter?</button>
        <div class="input-wrapper">
          <input
            type="text"
            id="search-input"
            placeholder="Optionally enter card names (comma-seperated)"
          />
        </div>
        <div id="war-decks-suggestions"></div>
      </div>
    </div>

    <div id="select-card">
      <!-- <div -->
        <!-- class="bg-image" -->
        <!-- style=" -->
          <!-- background-image: url('https://wallpapercave.com/wp/wp4898020.jpg'); -->
        <!-- " -->
      <!-- ></div> -->
      <div class="bg-text">
        <button
          class="bangers-regular cButton"
          id="common-button"
          type="button"
        >
          Common
        </button>
        <button class="bangers-regular cButton" id="rare-button" type="button">
          Rare
        </button>
        <button class="bangers-regular cButton" id="epic-button" type="button">
          Epic
        </button>
        <button
          class="bangers-regular cButton"
          id="legendary-button"
          type="button"
        >
          Legendary
        </button>
        <button
          class="bangers-regular cButton"
          id="champion-button"
          type="button"
        >
          Champion
        </button>

        <div id="cards-display"></div>

        <div id="other-buttons">
          <button
            class="bangers-regular cButton"
            id="cancel-card-button"
            type="button"
          >
            Cancel
          </button>
          <button
            class="bangers-regular cButton"
            id="remove-slot"
            type="button"
          >
            Clear Slot
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
